{% extends "recipes/base.html" %}
{% block content %}
    <article class="media content-section">
        <div class="media-body">
            <h1 class="article-title">About Page</h1>
            <p class="article-content">
                Welcome to Homilicious, your go-to culinary companion on the web! At Homilicious, we're passionate about all things food and cooking. Our mission is simple: to celebrate the art of home-cooked meals and the joy of sharing recipes with a community of food enthusiasts.
            </p>
            <p class="article-content">
                Whether you're here to explore, share, or simply satisfy your curiosity about the world of food, Homilicious is your culinary home on the internet. Join us on this mouthwatering adventure, and let's savor the world, one recipe at a time.
                
                Let's cook, share, and celebrate the joy of food together!
            </p>
        </div>
    </article>
{% endblock content %}